<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>Your group is now in the process of being confirmed. Please go to <a href="<%= @finalizing_url %>"><%= @finalizing_url %></a> to confirm your membership.</p>
    <p>Please e-mail <%= @college.admin_email %> if you have any questions.</p>
    <p>Sincerely,<br /><%= @college.dean %></p>
  </body>
</html>
