<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p><%= @joined.full_name %> has joined your housing group!</p>
    <p>Sincerely,<br /><%= @college.dean %></p>
  </body>
</html>
