table.lottery-forms-table {

  .lottery-form {
    @include grid-row;

    vertical-align: center;

    &.success { background-color: lighten($success-color, 72%); }
    &.failure { background-color: lighten($alert-color, 53%); }

    .group-name {
      font-size: 1.4em;
      text-align: center;
    }
  }
}
